@use 'sass:map';
@use "./base/typography";
@use "./modules/card";
@use "./modules/images";


$theme-colors: (
  "Neutral100": #f2f2f7,
  "Neutral900": #12131a,
  "Neutral800": #21222c,
  "Neutral200": #e4e4ef,
  "Neutral600": #404153,
  "Yellow": #ff9f00,
  "Purple": #c27cf8,
  "Orange": #fe8159,
  "Red": #da3701
);

// Custom text sizes based on our design language
$display-font-sizes: (
  1: 4rem,
  2: 2.5rem,
  3: 1.5rem,
  4: 1.25rem,
  5: 1rem,
  6: 0.75rem
) !default;


.form-check-input {
  background-color: map.get($theme-colors, "Purple");
}


@import "../node_modules/bootstrap/scss/bootstrap";